body {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #343a40;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    font-size: 18px;
}

.logout-btn {
    margin-top: auto;
    /* Empuja el botón al final */
}

.logout-btn button {
    width: 100%;
    padding: 10px;
    background-color: #dc3545;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.logout-btn button:hover {
    background-color: #c82333;
}

.content {
    padding: 20px;
}